<configuration>
<system.webServer>
      <httpProtocol>
            <customHeaders>
                  <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
      </httpProtocol>
<staticContent>
<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/manifest+json"/>
      <mimeMap fileExtension=".webapp" mimeType="application/manifest+json"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
</staticContent>
</system.webServer>
</configuration>
