<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.1" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable45-net45+win8" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8" />
</packages>